body {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 3.2rem;
}
.oculto {
  display: none;
}
.bgFuerte {
  background: #660066;
}
.bgFuerteSuavisado {
  background: #775977;
}
.textoBlanco {
  color: white !important;
}
.textLigero {
  font-weight: lighter;
}
.textBold {
  font-weight: bolder;
}

.barraMenu {
  width: 100%;
}
.barraMenu2 {
  margin-left: 35%;
}

.textConfi{
    font-family: 'Heebo', sans-serif;
}


.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #373a3c;
}
.carousel-indicators li :active {
  background-color: #373a3c;
}

/* CONTENIDO HEADER ; IMAGEN Y TEXTO h1 Y h2 */
.imgFondo {
    
    text-align: center;
  width: 100%;
  height: 35em;
  background-image: url("../img/rds.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /* object-fit: cover; */
  background-size: cover;
}

.imgFondo h2 {
  /* padding-top: 1%; */
  padding-top: 12.5em;
  font-size: xx-large;
}
.imgFondo h1 {
  padding-top: 0.2em;
  text-decoration: overline;
  font-size: xx-large;
}

.separador1 {
  background: black;
  height: 0.1rem;
  width: 30%;
}

.textoColorFuerte {
  color: #660066;
}

.imgMisTrabajos {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80%;
  /* width: 15rem; */
  /* height: 13rem; */
  height: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fondoBlanco {
  background: white;
}
.textGris {
  color: #373a3c;
}

.divRedSocial{
  text-align: left;
}
.iconRedSocial{
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.textContacto {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* @media (min-width: 768px) {
 
} */







